@use "utils" as *;
@use "sass:string";
@use "sass:color";


$color-fg:     #161616;
$color-alpha:  #ffffff4d;
$color-shadow: #0000006d;
$color-modal:  #00ffff;
$color-leader: #dc143c;

$color-fg-hex:  hexbin($color-fg);
$color-lb1:     $color-leader;
$color-lb2:     wash($color-leader, $color-fg, 33%);
$color-lb3:     wash($color-leader, $color-fg, 66%);

$font-text:     Recursive;
$font-title:    Unbounded;
$font-spacing:  0em;

$font-base:     28;
$font-break:    1024;
$font-resp:     calc($font-base * 100 / $font-break);

$drift-time:    30s;